@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/bundle";

@theme inline {

  --color-defined-purple: #28156F;
  --color-defined-yellow: #FAC400;
  --color-defined-brown: #666666;

  --shadow-defined-light: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1025px;
  --breakpoint-xlg: 90rem;
  --breakpoint-xxl: 120rem;

}

@layer base {

  .clip-angled {
  /* The core magic — cut one corner diagonally */
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);  
}
  .clip-angled2 {
  /* The core magic — cut one corner diagonally */
  clip-path: polygon(10 0, 100% 0, 95% 100%, 0 100%);  
}


  .self-padding {
    @apply md:px-18 px-4 py-8 flex flex-col gap-12;
  }

  html {
    @apply scroll-smooth;
  }

  button {
    @apply cursor-pointer hover:scale-105 transition-all duration-300 ease-in-out;
  }
}
